* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

h2 {
  color: #002d73;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 90vw;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    padding: 0 35px;
  }
}
header {
  padding-top: 20px;
}
header .logo {
  width: 200px;
  margin: 0 auto;
}
header nav {
  width: 400px;
  margin: 0 auto;
}
header nav ul {
  margin-left: 0;
  display: flex;
  align-items: center;
}
header nav ul li {
  text-align: center;
  flex-basis: calc(100%/3);
  line-height: 4rem;
}
header nav ul li:hover {
  background-color: #b2e5fc;
}
header nav ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
header nav ul li a:hover {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  header nav {
    width: 300px;
  }
}
main .all-products {
  padding: 20px 0;
  background-image: url("../image/fondo-pag-speciali.jpg");
  background-size: cover;
}
main h2 {
  padding-left: 10px;
  font-size: 30px;
  font-weight: 500;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
}
main .card {
  flex-basis: calc(100%/3);
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  main .card {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 576px) {
  main .card {
    flex-basis: 100%;
    margin: 5px 0;
  }
}
.product {
  position: relative;
  background-color: #b7dae5;
  color: #002d73;
}
.product h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  padding: 30px 0;
}
.product img {
  display: block;
}
.product .description {
  line-height: 1.9rem;
  padding-bottom: 30px;
}
.product .description ol {
  margin-left: 50px;
}
.product .arrow-left,
.product .arrow-right {
  position: absolute;
  top: 50%;
  padding: 20px;
  border-radius: 5px;
}
.product .arrow-left:hover,
.product .arrow-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.product .arrow-left a,
.product .arrow-right a {
  color: #fff;
  font-size: 50px;
}
.product .arrow-left a:hover,
.product .arrow-right a:hover {
  text-decoration: none;
}
.product .arrow-left {
  left: 0;
}
.product .arrow-right {
  right: 0;
}

@media screen and (max-width: 576px) {
  .product .description {
    padding: 20px 0;
  }
  .product .arrow-left,
.product .arrow-right {
    padding: 5px;
  }
}
footer {
  margin-top: 50px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  color: #848d9b;
}
footer .footer .contacts-text {
  margin-bottom: 30px;
}
footer .footer .col {
  padding-right: 20px;
  font-size: 18px;
  flex-basis: calc(100%/3);
}
footer .footer .col h3 {
  font-weight: 500;
}
footer .footer .col ul {
  margin-bottom: 30px;
}
footer .footer .col a {
  color: #848d9b;
  line-height: 2rem;
}

@media screen and (max-width: 1100px) {
  footer .footer .col {
    flex-basis: 70%;
  }
}
@media screen and (max-width: 576px) {
  footer .footer .col {
    flex-basis: 100%;
    font-size: 24px;
  }
}