*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: $base-size;
    font-family: $primary-font;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

h2{
    color: $primary-text;
}

ol,
ul{
    margin-left: 50px;
    list-style: none;
}

a{
    text-decoration: none;
    color: $black;
    &:hover{
        text-decoration: underline;
    }
    &:focus{
        outline: none;
    }
}

img{
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width:1100px){
    .container{
        width: 90vw;
    }
}

@media screen and (max-width:768px){
    .container{
        width: 100vw;
    }
}

