*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: $base-size;
    font-family: $primary-font;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

h2{
    color: $primary-text;
}

a{
    text-decoration: none;
    color: $black;
    &:hover{
        text-decoration: underline;
    }
    &:focus{
        outline: none;
    }
}

img{
    max-width: 100%;
    max-height: 100%;
}