header{
    padding-top: 20px;
    .logo{
        width: 200px;
        margin: 0 auto;
    }
    nav{
        width: 400px;
        margin: 0 auto;
        .list{
            margin-left: 0;
            display: flex;
            align-items: center;
            li{
                text-align: center;
                flex-basis: calc(100%/3);
                line-height: 4rem;
                &:hover{
                    background-color: $color-hover;
                }
                a{
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-nav{
            position: relative;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            transition: all 1s;
        }
        .left{
            text-align: left;
        }
    }
}
@media screen and (max-width:576px){
    header{
        nav{
            width: 300px;
            .list{
                display: none;
            }
            .mobile-nav{
                display: inline-block;
                width: 100%;
                line-height: 4rem;
            }
        }

    }
}
