.product{
    background-color: $primary;
    color: $primary-text;
    h1{
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        padding: 30px 0;
    }
    img{
        display: block;
    }
    .descriprion{
        line-height: 1.9rem;
        padding: 30px 0;
    }
    
}

//media query
@media screen and (max-width:1100px){
}

@media screen and (max-width:768px){
}

@media screen and (max-width:576px){
    .product{
        .description{
            line-height: 1.7rem;
            font-size: $text-mobile;
            padding: 25px;
        }
    }
}
