.product{
    position: relative;
    background-color: $primary;
    color: $primary-text;
    h1{
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        padding: 30px 0;
    }
    img{
        display: block;
    }
    .description{
        line-height: 1.9rem;
        padding-bottom: 30px;
        ol{
            margin-left: 50px;

        }
    }
    .arrow-left,
    .arrow-right{
        position: absolute;
        top: 50%;
        padding: 20px;
        border-radius: 5px;
        &:hover{
            background-color: rgba($white, .5);
        }
        a{  
            color: $white;
            font-size: 50px;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .arrow-left{
        left: 0;
    }
    .arrow-right{
        right: 0;
    }

}

//media query
@media screen and (max-width:576px){
    .product{
        .description{
            padding: 20px 0;
            // padding: 25px 55px;
        }
        .arrow-left,
        .arrow-right{
            padding: 5px;
        }
    }
}
